<?xml version="1.0"?>
<launch>
    <!-- Run the map server -->
    <arg name="map" default="mapa_abierto"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find p3at_slam)/maps/$(arg map).pgm 1">
    <param name="frame_id" value="/odom" />
    </node>

    <!-- Run AMCL -->
    
</launch>
